@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
}

@keyframes gradient-xy {
  0%, 100% { background-size: 400% 400%; background-position: left center; }
  50% { background-size: 200% 200%; background-position: right center; }
}

.animate-gradient-xy {
  animation: gradient-xy 3s ease infinite;
}