@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
}