name: Spotify Ingestion Heartbeat

on:
  schedule:
    - cron: '0 * * * *'  # Runs every hour, on the hour
  workflow_dispatch:      # Allows you to click a button to run it manually

jobs:
  ingest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Set up Python
        run: uv python install

      - name: Run Ingestion Script
        env:
          SPOTIPY_CLIENT_ID: ${{ secrets.SPOTIPY_CLIENT_ID }}
          SPOTIPY_CLIENT_SECRET: ${{ secrets.SPOTIPY_CLIENT_SECRET }}
          SPOTIPY_REDIRECT_URI: ${{ secrets.SPOTIPY_REDIRECT_URI }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }} 
          NEON_DATABASE_URL: ${{ secrets.NEON_DATABASE_URL }}
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)/data-pipeline/ingestion
          uv run python data-pipeline/ingestion/main.py